<p>student-details works!</p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Dept Id</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="std">
        <td>{{ std._id }}</td>
        <td>{{ std.name }}</td>
        <td>{{ std.department }}</td>
        <td>
          <img *ngIf="std.image" [src]="getImageUrl(std.image)" alt="Student Image" width="100" height="100">
        </td>
      </tr>
    </tbody>
  </table>

  
  