<!-- <p>get-one-student works!</p>
<div *ngIf="selectedStudent">
    <h3>Selected Student:</h3>
    <p>ID: {{ selectedStudent.Id }}</p>
    <p>Name: {{ selectedStudent.Name }}</p>
    <p>Age: {{ selectedStudent.Age }}</p>
  </div>

  <button class="btn btn-primary" (click)="getOneby(student.ID)" style="margin-top: 0.5rem;margin-bottom: 0.5rem;">Show selected student</button> -->
<div>
  <button class="btn btn-primary" (click)="getOneby()" style="margin-top: 0.5rem;margin-bottom: 0.5rem;">Show</button>
</div>
